/* Put here animation specific styles */
$orange: #FF5F19;
$orange-alt: #FA8E6A;
$white: #FFFFFF;

.celebration-container {
	height: 100%;
	
	.bubble-container {
		position: absolute;
		left: 0;
		top: 20%;
		width: 45px;
		height: 50%;
		
		&.bubble-container--right {
			left: auto;
			right: 0;
		}
	}
	
	@media (min-width: 600px) {
		position: relative;
		max-width: 400px;
		margin: 0 auto;
		
		.bubble-container {
			left: -70px;
			width: 70px;
			
			&.bubble-container--right {
				right: -70px;
			}
		}
	}
}

.celebration-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: auto auto;
}

.last-page {
	display: none;
}

svg {
	overflow: visible;
}

#blinking-face-obj {
	position: relative;
	z-index: 5;
	width: 52px;
	height: 52px;
}

/* Magic Dot thing */

.magic-dot {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 40px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	transition: all .7s ease-in;
	background-color: $orange-alt;
}

.magic-dot-expanded {
	width: 1200px;
	height: 1200px;
	top: -200px;
	right: -200px;
}

/* Magic Texts */

.wizard-end-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	padding: 20px;
}

.wizard-end-appear {
	visibility: visible;
}

.magic-text-container .magic-text {
	$delay: .1s;
	color: $white;
	transform: scale3d(0,0,0);
	transition: all .3s cubic-bezier(0, -2, 0, 2) $delay;
	
	@for $nth from 1 through 4 {
		&:nth-child(#{$nth}) {
			transition-delay: $delay + ($nth * 0.15s);
		}
	}
}

.magic-text-container.magic-text-container-appear .magic-text {
	transform: scale3d(1,1,1);
}