/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
* {
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #938F8D;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

.modal-container {
  position: relative;
  height: auto;
  width: 783px;
  height: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 30px 40px 30px 40px;
  border: solid 1px #eceae9;
  border-radius: 5px;
  background-color: #FFF;
  overflow: hidden; }

/**************************************************/
/*************** animation specific ***************/
/**************************************************/
/* Put here animation specific styles */
svg {
  overflow: visible; }

#blinking-face-obj {
  position: relative;
  z-index: 5;
  width: 52px;
  height: 52px; }

/* Magic Dot thing */
.magic-dot {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: all .7s ease-in;
          transition: all .7s ease-in;
  background-color: #FA8E6A; }

.magic-dot-expanded {
  width: 1200px;
  height: 1200px;
  top: -200px;
  right: -200px; }

/* Magic Texts */
.wizard-end-container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.magic-text-container .magic-text {
  color: #FFFFFF;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transition: all .3s cubic-bezier(0, -2, 0, 2) 0.45s;
          transition: all .3s cubic-bezier(0, -2, 0, 2) 0.45s; }
  .magic-text-container .magic-text:nth-child(1) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s; }
  .magic-text-container .magic-text:nth-child(2) {
    -webkit-transition-delay: 0.75s;
            transition-delay: 0.75s; }
  .magic-text-container .magic-text:nth-child(3) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s; }
  .magic-text-container .magic-text:nth-child(4) {
    -webkit-transition-delay: 1.05s;
            transition-delay: 1.05s; }

.magic-text-container.magic-text-container-appear .magic-text {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
