/* Put here animation specific styles */
.bubble-animation {
  height: 300px;
  position: relative; }

.bubble {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 130, 76, 0.8);
  position: absolute;
  bottom: 0; }

@-webkit-keyframes bubble-burst-1 {
  0% {
    -webkit-transform: translate(-2px, -0px) scale(.7);
            transform: translate(-2px, -0px) scale(.7);
    opacity: 0; }
  25% {
    -webkit-transform: translate(2px, -25px) scale(1);
            transform: translate(2px, -25px) scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: translate(-2px, -50px) scale(1);
            transform: translate(-2px, -50px) scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: translate(2px, -75px) scale(1);
            transform: translate(2px, -75px) scale(1);
    opacity: 1; }
  94% {
    -webkit-transform: translate(-2px, -94px) scale(1);
            transform: translate(-2px, -94px) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translate(2px, -100px) scale(2.5);
            transform: translate(2px, -100px) scale(2.5);
    opacity: 0; } }

@keyframes bubble-burst-1 {
  0% {
    -webkit-transform: translate(-2px, -0px) scale(.7);
            transform: translate(-2px, -0px) scale(.7);
    opacity: 0; }

  25% {
    -webkit-transform: translate(2px, -25px) scale(1);
            transform: translate(2px, -25px) scale(1);
    opacity: 1; }

  50% {
    -webkit-transform: translate(-2px, -50px) scale(1);
            transform: translate(-2px, -50px) scale(1);
    opacity: 1; }

  75% {
    -webkit-transform: translate(2px, -75px) scale(1);
            transform: translate(2px, -75px) scale(1);
    opacity: 1; }

  94% {
    -webkit-transform: translate(-2px, -94px) scale(1);
            transform: translate(-2px, -94px) scale(1);
    opacity: 1; }

  100% {
    -webkit-transform: translate(2px, -100px) scale(2.5);
            transform: translate(2px, -100px) scale(2.5);
    opacity: 0; } }

.bubble-burst-1 {
  -webkit-animation: bubble-burst-1 1.2s linear;
          animation: bubble-burst-1 1.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bubble-burst-2 {
  0% {
    -webkit-transform: translate(3px, -0px) scale(.7);
            transform: translate(3px, -0px) scale(.7);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-3px, -45px) scale(1);
            transform: translate(-3px, -45px) scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: translate(3px, -90px) scale(1);
            transform: translate(3px, -90px) scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: translate(-3px, -135px) scale(1);
            transform: translate(-3px, -135px) scale(1);
    opacity: 1; }
  94% {
    -webkit-transform: translate(3px, -169.2px) scale(1);
            transform: translate(3px, -169.2px) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-3px, -180px) scale(2.5);
            transform: translate(-3px, -180px) scale(2.5);
    opacity: 0; } }

@keyframes bubble-burst-2 {
  0% {
    -webkit-transform: translate(3px, -0px) scale(.7);
            transform: translate(3px, -0px) scale(.7);
    opacity: 0; }

  25% {
    -webkit-transform: translate(-3px, -45px) scale(1);
            transform: translate(-3px, -45px) scale(1);
    opacity: 1; }

  50% {
    -webkit-transform: translate(3px, -90px) scale(1);
            transform: translate(3px, -90px) scale(1);
    opacity: 1; }

  75% {
    -webkit-transform: translate(-3px, -135px) scale(1);
            transform: translate(-3px, -135px) scale(1);
    opacity: 1; }

  94% {
    -webkit-transform: translate(3px, -169.2px) scale(1);
            transform: translate(3px, -169.2px) scale(1);
    opacity: 1; }

  100% {
    -webkit-transform: translate(-3px, -180px) scale(2.5);
            transform: translate(-3px, -180px) scale(2.5);
    opacity: 0; } }

.bubble-burst-2 {
  -webkit-animation: bubble-burst-2 2.2s linear;
          animation: bubble-burst-2 2.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bubble-burst-3 {
  0% {
    -webkit-transform: translate(-4px, -0px) scale(.7);
            transform: translate(-4px, -0px) scale(.7);
    opacity: 0; }
  25% {
    -webkit-transform: translate(4px, -62.5px) scale(1);
            transform: translate(4px, -62.5px) scale(1);
    opacity: 1; }
  50% {
    -webkit-transform: translate(-4px, -125px) scale(1);
            transform: translate(-4px, -125px) scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: translate(4px, -187.5px) scale(1);
            transform: translate(4px, -187.5px) scale(1);
    opacity: 1; }
  94% {
    -webkit-transform: translate(-4px, -235px) scale(1);
            transform: translate(-4px, -235px) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translate(4px, -250px) scale(2.5);
            transform: translate(4px, -250px) scale(2.5);
    opacity: 0; } }

@keyframes bubble-burst-3 {
  0% {
    -webkit-transform: translate(-4px, -0px) scale(.7);
            transform: translate(-4px, -0px) scale(.7);
    opacity: 0; }

  25% {
    -webkit-transform: translate(4px, -62.5px) scale(1);
            transform: translate(4px, -62.5px) scale(1);
    opacity: 1; }

  50% {
    -webkit-transform: translate(-4px, -125px) scale(1);
            transform: translate(-4px, -125px) scale(1);
    opacity: 1; }

  75% {
    -webkit-transform: translate(4px, -187.5px) scale(1);
            transform: translate(4px, -187.5px) scale(1);
    opacity: 1; }

  94% {
    -webkit-transform: translate(-4px, -235px) scale(1);
            transform: translate(-4px, -235px) scale(1);
    opacity: 1; }

  100% {
    -webkit-transform: translate(4px, -250px) scale(2.5);
            transform: translate(4px, -250px) scale(2.5);
    opacity: 0; } }

.bubble-burst-3 {
  -webkit-animation: bubble-burst-3 3.2s linear;
          animation: bubble-burst-3 3.2s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
