/* Put here animation specific styles */
.celebration-container {
  height: 100%; }
  .celebration-container .bubble-container {
    position: absolute;
    left: 0;
    top: 20%;
    width: 45px;
    height: 50%; }
    .celebration-container .bubble-container.bubble-container--right {
      left: auto;
      right: 0; }
  @media (min-width: 600px) {
    .celebration-container {
      position: relative;
      max-width: 400px;
      margin: 0 auto; }
      .celebration-container .bubble-container {
        left: -70px;
        width: 70px; }
        .celebration-container .bubble-container.bubble-container--right {
          right: -70px; } }

.celebration-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: auto auto; }

.last-page {
  display: none; }

svg {
  overflow: visible; }

#blinking-face-obj {
  position: relative;
  z-index: 5;
  width: 52px;
  height: 52px; }

/* Magic Dot thing */
.magic-dot {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: all .7s ease-in;
          transition: all .7s ease-in;
  background-color: #FA8E6A; }

.magic-dot-expanded {
  width: 1200px;
  height: 1200px;
  top: -200px;
  right: -200px; }

/* Magic Texts */
.wizard-end-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  padding: 20px; }

.wizard-end-appear {
  visibility: visible; }

.magic-text-container .magic-text {
  color: #FFFFFF;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transition: all .3s cubic-bezier(0, -2, 0, 2) 0.1s;
          transition: all .3s cubic-bezier(0, -2, 0, 2) 0.1s; }
  .magic-text-container .magic-text:nth-child(1) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s; }
  .magic-text-container .magic-text:nth-child(2) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }
  .magic-text-container .magic-text:nth-child(3) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s; }
  .magic-text-container .magic-text:nth-child(4) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s; }

.magic-text-container.magic-text-container-appear .magic-text {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }
