/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
* {
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: "Gotham Rounded", Helvetica, sans-serif;
  color: #938F8D;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px; }

h2, h3 {
  font-weight: normal; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

.modal-container {
  position: relative;
  height: auto;
  width: 783px;
  height: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 30px 40px 30px 40px;
  border: solid 1px #eceae9;
  border-radius: 5px;
  background-color: #FFF;
  overflow: hidden; }
