/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
* {
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: "Gotham Rounded", Helvetica, sans-serif;
  color: #938F8D;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; }

h2, h3 {
  font-weight: normal; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

.modal-container {
  position: relative;
  height: auto;
  width: 783px;
  height: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 30px 40px 30px 40px;
  border: solid 1px #eceae9;
  border-radius: 10px;
  background-color: #FFF;
  overflow: hidden; }

button {
  font-family: inherit; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-orange {
  color: #ffffff;
  background-color: #ff804d;
  border-color: #ff804d; }
